# --------------------------------------
# mac
# --------------------------------------
.DS_Store

# --------------------------------------
# idea
# --------------------------------------
.idea/

_dco/