# --------------------------------------
# mac
# --------------------------------------
.DS_Store

# --------------------------------------
# idea
# --------------------------------------
.idea/

# --------------------------------------
# test
# --------------------------------------
test*
_dco/